
/* Laptop and Desktop */
@media screen and (max-width: 992px) {
    .deals-item{
        width: 80%;
    }
    .header-title{
        font-size: 2.4rem;
    }
    .header-title .orange{
        color: #FF5400;
        font-size: 3.6rem;
        font-weight: 800;
    }
    .header-nav-container{
        gap: 1.6rem;
    }
    .video-title{
        max-width: 48rem;
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 125%;
        margin-top: 0.8rem;
        margin-bottom: 1.6rem;
    }
    .video-text{
        gap: 0;
    }

}


/* Tab */
@media screen and (max-width: 832px)  {
    html{
        font-size: 56.25%;
    }
    .banner-form-container{
        min-width: 100%;
    }
    .banner-content{
        padding: 6.4rem;
    }
    .icon-mbl-nav{
        display: block;
    }
    .header-nav-container{
        display: none;
    }
    .header-nav{
        background-color: rgba(255, 255, 255, 0.97);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
    .nav-bars-mbl{
        display: block;
    }
    .video-section{
        margin-top: 4.8rem;
    }
    .deals-top-item-2{
        display: flex;
    }
    .deals-item-top{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.6rem;
    }
    .deals-iteml{
        width: 100%;
    }
    .location-content img{
        max-height: 30rem;
    }
    .video-container,
    .newsletter-container,
    .experience-content-items{
        grid-template-columns: 1fr;
    }
    .choose-content{
        display: flex;
        justify-content: center;
        gap: 2.4rem;
        margin-bottom: 3.2rem;
    }
    .destination-row-1,
    .destination-row-2,
    .destination-row-3{
        grid-template-columns: 1fr;
    }
    .banner-form .btn-primary{
        width: 100%;
        justify-content: center;
    }
    .banner-input{
        padding: 1.6rem 2.4rem;
    }
    .banner-form{
        flex-direction: column;
    }
    .popular-img img{
        max-height: 48rem;
    }
    .popular-container{
        grid-template-columns: 1fr;
    }






    
}




/* Mobile */
@media screen and (max-width: 600px) {
    html{
        font-size: 50%;
    }
    .choose-content{
        flex-direction: column;
    }
    .choose-content-item{
        width: 100%;
    }
    .banner-content{
        padding: 2.4rem;
    }
    .banner-form-container{
        min-width: 100%;
    }
    .deals-item{
        margin-top: 9.6rem;
    }
    /*header{
        width: 90%;
        margin: auto;
    }
    .nav-items .nav-link{
        display: none;
    }
    .header-nav .bars{
        display: block;

    }*/
}
