/* All section */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: 'Mulish', sans-serif;
}
.section{
    max-width: 81.25%;
    margin-right: auto;
    margin-left: auto;
}
.btn-primary{
    min-width: 14rem;
    text-decoration: none;
    border-radius: 0.8rem;
    padding: 1.4rem 2.4rem;
    background-color: #FF5400;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.section-title{
    color: #131318;
    font-size: 4rem;
    font-weight: 800;
}
.text-description{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1.6rem;
    line-height: 2.6rem;
}








/* Header Section */
.header-section{
    padding: 4.8rem 0;
    position: relative;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.header-title{
    color: #131318;
    font-size: 3.6rem;
    font-weight: 800;
}
.orange{
    color: #FF5400;
    font-size: 3.6rem;
    font-weight: 800;
}
.nav-link:link, .nav-link:visited{
    text-decoration: none;
    color: #424247;
    font-size: 1.8rem;
}
.nav-link:hover, .nav-link:active{
    text-decoration: none;
    color: #FF5400;
    font-size: 1.8rem;
}
.header-nav-container{
    display: flex;
    gap: 2.4rem;
    list-style: none;
}

/* Banner Styles */
.banner-section{
    border-radius: 1.6rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/banner-image.png");
    background-position: center;
    background-size: cover;
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem;
    gap: 2.4rem;
}
.banner-title{
    color: white;
    font-size: 6.4rem;
    font-weight: 800;
}
.banner-description{
    max-width: 64rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: white;
}

.banner-form-container{
    border-radius: 0.8rem;
    background: rgba(255, 255, 255, 0.30);
    padding: 1.6rem 2.4rem;
}
.banner-form{
    max-width: 72rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}
.banner-form select{
    font-size: 1.6rem;
    color: rgba(19, 19, 24, 0.5);
}
.banner-input{
    width: 100%;
    padding: 1.6rem 1.2rem;
    border-radius: 0.8rem;
    border: 0;
    min-width: 12rem;
}
.btn-form{
    gap: 0.8rem;
}


/* Popular Styles */
.popular-section{
    margin-top: 9.6rem;
}
.popular-container{
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
    gap: 6.4rem;
}
.popular-text{
    /*max-width: 52rem;*/
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: flex-start;
    width: 100%;
    flex: 1;
}
.popular-img{
    height: 100%;
    max-height: 45rem;
}
.popular-list{
    padding-left: 3.2rem;
}
.popular-img img{
    width: 100%;
    height: 100%;
}


/* Destination Styles */
.destination-section{
    margin-top: 9.6rem;
}
.destination-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}
.destination-text-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.location-content{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.destination-row-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}
.destination-row-2{
    display: grid;
    grid-template-columns: 3fr 4fr 2fr;
    gap: 2.5rem;
}
.destination-row-3{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2.5rem;
}
.img-box{
    width: 100%;
    position: relative;
    /*
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), lightgray 50% / cover no-repeat;
    */
    background: linear-gradient(0deg, rgb(19 19 24 / 0%) 0%, rgb(19 19 24 / 0%) 0%), #d3d3d300 0% / cover no-repeat;
    border-radius: 1.6rem;
}
.location-content img{
    width: 100%;
    height: 100%;
}
.img-text{
    color: white;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Why choose style */
.choose-section{
    margin-top: 9.6rem;
}
.choose-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.choose-text p{
    /*max-width: 64rem;*/
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
}
.choose-content{
    display: flex;
    justify-content: center;
    gap: 6.4rem;
    margin-bottom: 3.2rem;
}
.choose-content-item{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:1.6rem;
    padding: 2.4rem;
    border-radius: 0.8rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.choose-content-item-blue{
    border-radius: 0.8rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.choose-title{
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}
/*.choose-content-item p{*/
/*    max-width: 40rem;*/
/*}*/
.choose-img{
    width: 4.8rem;
}


/* Deals Style */
.deals-section{
    margin-top: 9.6rem;
}
.deal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.deal-text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.2rem;
    margin-bottom: 4rem;
}
.deal-text-content .text-description{
    max-width: 56rem;
}
.deals-item-box{
    background: url("../Images/Group-39.png"), lightgrey 50%;
    padding: 6.4rem;
    margin-bottom: 4.8rem;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-position: center;
    background-size: cover;
}
.deals-item-box-2{
    background: url("../Images/Group-40.png"), lightgrey 50%;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
}
.deals-item{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 60%;
    border-radius: 1.6rem;
    padding: 3.2rem;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2.5px);
    border: 2px solid #FFF;
}
.deals-item-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.4rem;
}
.deals-top-item{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: #FF5400;
}
.deals-top-item-2{
    display: flex;
    align-items: center;
    gap: 6rem;
    color: #FF5400;
}
.deals-top-text{
    color: #5A5A5D;
    font-size: 1.6rem;
}
.deals-icon{
    font-size: 1.6rem;
}
.deals-item-text-box{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: flex-start;
}
.deals-item-title{
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}
.deals-price{
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;
}


/* Video Styles */
.video-section{
    margin-top: 9.6rem;
}
.video-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 3.2rem;
    height: 100%;
}
.video-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.6rem;
}
.video-img{
    width: 100%;
    height: 100%;
}
.video-title{
    color: #131318;
    /*max-width: 48rem;*/
    font-size: 4rem;
    font-weight: 800;
    line-height: 6rem;
    /*margin-top: 0.8rem;*/
    /*margin-bottom: 1.6rem;*/
}
.video-list{
    padding-left: 2.4rem;
    margin: 1.6rem 0;
}
.video-list-item{
    color: #131318;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
}
.video-info{
    width: 100%;
    border-radius: 1.6rem;
}



/* Experience style */
.experience-section{
    margin-top: 9.6rem;
}
.experience-content-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.experience-content-text p{
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
    max-width: 65rem;
}

.experience-content-items{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-between;
    gap: 4rem;


}
.otro-blockquote{
    height: 182px;
    font-size: 1.4em;
    width:100%;
    margin: 3rem 0;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #FF5400 ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
    box-shadow: 0 4px 8px 0 rgba(255, 94, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.otro-blockquote::before{
    content: "\201C";
    color:#FF5400;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
}

.otro-blockquote::after{
    content: '';
}
.otro-blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}

/* Newsletter styles */
.newsletter-section{
    margin-top: 9.6rem;
}
.newsletter-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: stretch;
    justify-content: center;
    gap: 2.4rem;
}
.newsletter-text{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    border-radius: 1.6rem;
    border: 1px solid #FF5400;
    padding: 2.4rem;
}
.newsletter-title{
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}
.news-form{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.news-form input{
    border: 0;
    padding: 1.6rem 2.4rem;
    border-radius: 0.8rem;
    background-color: rgba(19,19, 24, 0.05);
}
.btn-news{
    display: flex;
    justify-content: center;
    text-align: center;
}
.newsletter-img{
    height: 100%;
    position: relative;
}
.newsletter-img img{
    width: 100%;
    height: 100%;
}
.offer-text{
    color: white;
    text-align: center;
    font-size: 2.4rem;
}
.offer-title{
    color: white;
    font-size: 3.2rem;
    font-weight: 800;
}
.news-offer{
    border-radius: 1.6rem;
    padding: 1.6rem 2.4rem;
    text-align: center;
    background-color: #FF5400;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-30deg) translate(10%, -50%);
}
.newsletter-text hr{
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

/* Footer style */
.footer-section{
    margin-top: 9.6rem;
    background: rgba(19, 19, 24, 0.05);
    padding: 9.6rem;
}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}
.footer-container .text-description{
    max-width: 64rem;
}
.footer-icon{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 2.4rem;
}
.footer-title{
    color: #131318;
    font-weight: 800;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-bottom: 2.4rem;
}
.social-icon{
    font-size: 2.4rem;
}
.footer-container hr{
    width: 54.5rem;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

/* Mobile Nav */
.nav-bars-mbl{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}
.icon-mbl-nav{
    font-size: x-large;
    /*height: 4.8rem;*/
    /*width: 4.8rem;*/
    color: #333333;
    display: none;
}


/* Responsive */

/* Laptop and Desktop */
@media (max-width: 62em) {
    .deals-item{
        width: 80%;
    }
    .header-title{
        font-size: 2.4rem;
    }
    .header-title .orange{
        color: #FF5400;
        font-size: 3.6rem;
        font-weight: 800;
    }
    .header-nav-container{
        gap: 1.6rem;
    }
    .video-title{
        max-width: 48rem;
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 125%;
        margin-top: 0.8rem;
        margin-bottom: 1.6rem;
    }
    .video-text{
        gap: 0;
    }

}


/* Tab */
@media (max-width: 52em)  {
    html{
        font-size: 56.25%;
    }
    .banner-form-container{
        min-width: 100%;
    }
    .banner-content{
        padding: 6.4rem;
    }
    .icon-mbl-nav{
        display: block;
    }
    .header-nav-container{
        display: none;
    }
    .header-nav{
        background-color: rgba(255, 255, 255, 0.97);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
    .nav-bars-mbl{
        display: block;
    }
    .video-section{
        margin-top: 4.8rem;
    }
    .deals-top-item-2{
        display: flex;
    }
    .deals-item-top{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.6rem;
    }
    .deals-iteml{
        width: 100%;
    }
    .location-content img{
        max-height: 30rem;
    }
    .video-container,
    .newsletter-container,
    .experience-content-items{
        grid-template-columns: 1fr;
    }
    .choose-content{
        display: flex;
        justify-content: center;
        gap: 2.4rem;
        margin-bottom: 3.2rem;
    }
    .destination-row-1,
    .destination-row-2,
    .destination-row-3{
        grid-template-columns: 1fr;
    }
    .banner-form .btn-primary{
        width: 100%;
        justify-content: center;
    }
    .banner-input{
        padding: 1.6rem 2.4rem;
    }
    .banner-form{
        flex-direction: column;
    }
    .popular-img img{
        max-height: 48rem;
    }
    .popular-container{
        grid-template-columns: 1fr;
    }







}




/* Mobile */
@media (max-width: 37.5em) {
    html{
        font-size: 50%;
    }
    .choose-content{
        flex-direction: column;
    }
    .choose-content-item{
        width: 100%;
    }
    .banner-content{
        padding: 2.4rem;
    }
    .banner-form-container{
        min-width: 100%;
    }
    .deals-item{
        margin-top: 9.6rem;
    }
    /*header{
        width: 90%;
        margin: auto;
    }
    .nav-items .nav-link{
        display: none;
    }
    .header-nav .bars{
        display: block;

    }*/
}


























