/* Header Section */
.header-section{
    padding: 4.8rem 0;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.header-title{
    color: #131318;
    font-size: 3.6rem;
    font-weight: 800;
}
.orange{
    color: #FF5400;
    font-size: 3.6rem;
    font-weight: 800;
}
.header-nav .nav-link:link, .nav-link:visited{
    text-decoration: none;
    color: #424247;
    font-size: 1.8rem;
}
.header-nav .nav-link:hover, .nav-link:active{
    text-decoration: none;
    color: #FF5400;
    font-size: 1.8rem;
}
.header-nav-container{
    display: flex;
    gap: 2.4rem;
    list-style: none;
}
.bars{
    display: none;
}


/* Banner Styles */
.banner-section{
    border-radius: 1.6rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/banner-image.png");
    background-position: center;
    background-size: cover;
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem;
    gap: 2.4rem;
}
.banner-title{
    color: white;
    font-size: 6.4rem;
    font-weight: 800;
}
.banner-description{
    max-width: 64rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: white;
}

.banner-form-container{
    border-radius: 0.8rem;
    background: rgba(255, 255, 255, 0.30);
    padding: 1.6rem 2.4rem;
}
.banner-form{
    max-width: 72rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}
.banner-input{
    width: 100%;
    padding: 1.6rem 1.2rem;
    border-radius: 0.8rem;
    border: 0;
}
.btn-form{
    gap: 0.8rem;
}


/* Popular Styles */
.popular-section{
    margin-top: 9.6rem;
}
.popular-container{
    display: flex;
    gap: 6.4rem;
}
.popular-text{
    max-width: 52rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: flex-start;
    width: 100%;
    flex: 1;
}
.popular-img{
    width: 100%;
    flex: 1;
}
.popular-list{
    padding-left: 3.2rem;
}
.popular-img img{
    width: 100%;
}


















