/* Header Section */
.header-section{
    padding: 4.8rem 0;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.header-title{
    color: #131318;
    font-size: 3.6rem;
    font-weight: 800;
}
.orange{
    color: #FF5400;
    font-size: 3.6rem;
    font-weight: 800;
}
.header-nav .nav-link:link, .nav-link:visited{
    text-decoration: none;
    color: #424247;
    font-size: 1.8rem;
}
.header-nav .nav-link:hover, .nav-link:active{
    text-decoration: none;
    color: #FF5400;
    font-size: 1.8rem;
}
.header-nav-container{
    display: flex;
    gap: 2.4rem;
    list-style: none;
}
.bars{
    display: none;
}


/* Banner Styles */
.banner-section{
    border-radius: 1.6rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/banner-image.png");
    background-position: center;
    background-size: cover;
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem;
    gap: 2.4rem;
}
.banner-title{
    color: white;
    font-size: 6.4rem;
    font-weight: 800;
}
.banner-description{
    max-width: 64rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: white;
}

.banner-form-container{
    border-radius: 0.8rem;
    background: rgba(255, 255, 255, 0.30);
    padding: 1.6rem 2.4rem;
}
.banner-form{
    max-width: 72rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}
.banner-input{
    width: 100%;
    padding: 1.6rem 1.2rem;
    border-radius: 0.8rem;
    border: 0;
}
.btn-form{
    gap: 0.8rem;
}


/* Popular Styles */
.popular-section{
    margin-top: 9.6rem;
}
.popular-container{
    display: flex;
    gap: 6.4rem;
}
.popular-text{
    max-width: 52rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: flex-start;
    width: 100%;
    flex: 1;
}
.popular-img{
    width: 100%;
    flex: 1;
}
.popular-list{
    padding-left: 3.2rem;
}
.popular-img img{
    width: 100%;
}


/* Destination Styles */
.destination-section{
    margin-top: 9.6rem;
}
.destination-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}
.destination-text-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 72rem;
}
.location-content{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.destination-row-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}
.destination-row-2{
    display: grid;
    grid-template-columns: 3fr 4fr 2fr;
    gap: 2.5rem;
}
.destination-row-3{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2.5rem;
}
.img-box{
    width: 100%;
    position: relative;
    /*
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), lightgray 50% / cover no-repeat;
    */
    background: linear-gradient(0deg, rgb(19 19 24 / 0%) 0%, rgb(19 19 24 / 0%) 0%), #d3d3d300 0% / cover no-repeat;
    border-radius: 1.6rem;
}
.location-content img{
    width: 100%;
    height: 24.375rem;
}
.img-text{
    color: white;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Why choose style */
.choose-section{
    margin-top: 9.6rem;
}
.choose-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.choose-text p{
    max-width: 64rem;
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
}
.choose-content{
    display: flex;
    justify-content: center;
    gap: 6.4rem;
    margin-bottom: 3.2rem;
}
.choose-content-item{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:1.6rem;
    padding: 2.4rem;
    border-radius: 0.8rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.choose-content-item-blue{
    border-radius: 0.8rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.choose-title{
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}
.choose-content-item p{
    max-width: 40rem;
}
.choose-img{
    width: 4.8rem;
}

/* Experience style */
.experience-content-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.experience-content-text p{
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
    max-width: 65rem;
}

.experience-content-items{
    display: flex;
    justify-content: space-between;
    gap: 4rem;

}
.otro-blockquote{
    font-size: 1.4em;
    width:100%;
    margin: 3rem 0;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #FF5400 ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
    box-shadow: 0 4px 8px 0 rgba(255, 94, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.otro-blockquote::before{
    content: "\201C";
    color:#FF5400;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
}

.otro-blockquote::after{
    content: '';
}
.otro-blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}
